[submodule "mina-frontend"]
	path = mina-frontend
	url = https://github.com/o1-labs/mina-frontend.git
[submodule "internal-trace-consumer"]
	path = internal-trace-consumer
	url = https://github.com/o1-labs/mina-internal-trace-consumer.git
